@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Poiret+One&display=swap");

:root {
  --ff-primary: "Heebo", sans-serif;
  --ff-secondary: "Poiret One", cursive;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--ff-primary) !important;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-emphasis: none;
  text-decoration: none;
}

img {
  max-height: 80vh;
}

h1,
h2,
h3 {
  font-family: var(--ff-secondary);
}

p {
  font-family: var(--ff-primary);
}

.gallery {
  margin: 20px;
}

.carousel {
  background-size: cover;
  background-position: 10% 40%;
}

.nav-title {
  font-family: var(--ff-secondary);
  font-size: 48px !important;
}

.app-bar {
  text-decoration: none !important;
  color: white !important;
  background-color: white !important;
  list-style: none;
}

.justify-content-between {
  justify-content: space-between;
}

.button-wrapper {
  justify-content: center !important;
  text-align: center !important;
}

.button {
  font-family: var(--ff-primary) !important;
  color: black !important;
}
